/* Box-sizing reset: //w3bits.com/?p=3225 */
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

/* Global Styling */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: "Helvetica", sans-serif;
	/* background: rgb(252, 238, 234); */
	/* background: #edfaff; */
}

ul {
	list-style: none;
}

a {
	color: #999;
	text-decoration: none;
}
/* ////////////// */
/* ////////////// */
/* ////////////// */
/* Nav bar */
/* ////////////// */
/* ////////////// */
/* ////////////// */

.navBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

.left {
	display: flex;
	align-items: center;
}
.logo {
	display: flex;
	flex-direction: row;
}

.logo a {
	/* color: #000;
    color: rgb(20, 102, 94); */
	color: salmon;
	font: bolder;
}

.logo h1 {
	font-size: 2.1rem;
}

.logo p {
	font-size: 1rem;
}

/* .logo-image{
    width: 10%;
    height: 10%;
    border-radius: 25%;
    border: solid;
} */
/* .active{
    display: flex;
} */

.nav {
	/* display: flex; */
	align-items: center;
}
/* //////////////////////// */
/* ////// Toggled li ////// */
/* //////////////////////// */

.active {
	display: flex;
}

.nav li {
	margin-right: 1.2rem;
}

.nav li a {
	font-size: 14px;
	font-weight: 550px;
}

.nav li:last-child a {
	display: block;
	/* background: #3cb46e; */
	background: salmon;
	color: #fff;
	padding: 0.5rem 0.6rem;
	border-radius: 5px;
	transition: filter 0.5s ease-in-out;
}

.nav li:last-child a:hover {
	filter: brightness(85%);
}

.nav-search-form {
	margin-left: 1rem;
}

.nav-search-form input {
	padding: 0.7rem;
	border-radius: 20px;
	border: none;
	background-color: #eee;
	width: 600px;
	font-size: 0.9rem;
	color: #333;
	border: solid salmon;
}

.nav-search-form input:focus {
	background: seashell;
	border: solid salmon;
	transition: 0.2s ease-in;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

/* ////////////// */
/* ////////////// */
/* ////////////// */
/* Category Nav */
/* ////////////// */
/* ////////////// */
/* ////////////// */
.category-nav {
	display: flex;
	padding-left: 0.6rem;
	overflow: hidden;
}

.category-nav .category {
	padding: 0.8rem;
}

.category a {
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 1;
}

/* ////////////// */
/* ////////////// */
/* ////////////// */
/* Hero */
/* ////////////// */
/* ////////////// */
/* ////////////// */

.hero {
	background: url("https://cdn.glitch.com/b75055dd-03c2-47e5-9f5d-7923ac439cc1%2FnewSplash.png?v=1585755168923")
		no-repeat right top;
	background-size: 100% 620px;
	background-size: cover;
	position: relative;
	height: 600px;
	width: 100%;
}

.hero-overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.4);
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.hero-container {
	max-width: 60%;
	margin: auto;
}

.hero-content {
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hero-content h1 {
	font-size: 3rem;
	color: #fff;
	z-index: 2;
}

.hero-content p {
	color: #fff;
	z-index: 2;
	margin: 1rem 0;
	line-height: 1.5;
}

.hero-search-form {
	z-index: 2;
	margin: 1rem 0.6rem 0 0;
}

.hero-search-form input {
	width: 100%;
	padding: 1.2rem;
	border-radius: 5px;
	border: none;
	color: #000;
	font-size: 0.9rem;
}

.hero-search-form input:focus {
	/* background: seashell; */
	background: turquoise;
	/* border: solid salmon; */
	transition: 0.2s ease-in;
}

/* /////////////////// */
/* // searched Type // */
/* /////////////////// */
#searchTabContainer {
	width: 100%;
	/* background-color: black; */
	display: flex;
	justify-content: center;
	justify-content: space-evenly;
}

.searchTab {
	/* display: block; */
	display: flex;
	justify-content: center;
	background: salmon;
	color: #fff;
	width: 5rem;
	padding: 0.5rem 0.6rem;
	margin: 2px;
	border-radius: 5px;
	transition: filter 0.5s ease-in-out;
	z-index: 3;
}
.searchTab:hover {
	background-color: #40e0d0;
	color: #fa8072;
	filter: brightness(85%);
	transition: 0.7s;
	z-index: 3;
}
/* .searchTab a{
    color:#fff;
} */

/* ////////////////////////////////////////// */
/* ////////////////////////////////////////// */
/* ////////////////////////////////////////// */
.trending-search-tags {
	z-index: 2;
}

.trending-search-tags a {
	color: #fff;
	transition: 0.5s color;
}

.trending-search-tags a:hover {
	color: turquoise;
}

/* /////////////////// */
/* // searched Type // */
/* /////////////////// */
#searchPageContainer {
	width: 100%;
	/* background-color: black; */
	display: flex;
	justify-content: center;
	width: 200px;
	/* display:block; */
	/* margin: 20px; */
	display: none;
}
#searchPage {
	/* color: chartreuse; */
	font-family: "Frank Ruhl Libre", serif;
	font-size: 30px;
	padding-bottom: 20px;
	color: salmon;
}

#aboutPageContainer {
	width: 100%;
	/* background-color: black; */
	/* display: flex; */
	/* justify-content: center; */
	/* width: 200px; */
	/* display:block; */
	/* margin: 20px; */

	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	display: none;
}

#mainRenderSection {
	/* background-color: green; */
	/* display: flex; */
	justify-content: center;
}

/* ////////////// */
/* ////////////// */
/* ////////////// */
/* About Section */
/* ////////////// */
/* ////////////// */
/* ////////////// */
#aboutPageTitle {
	/* color: chartreuse; */
	font-family: "Frank Ruhl Libre", serif;
	font-size: 30px;
	padding-bottom: 20px;
	color: salmon;
}
#resContainer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-self: center;
	/* justify-self: center; */
	/* background: red; */
	width: 30em;
}

/* #resDes {
	text-align: left;
} */

/* Child of resContainer */
#resDetailsContainer {
	/* for self */
	align-self: center;
	justify-self: center;
	margin: 10px 0 10px 0;
	width: 100%;
	/* background-color: green; */

	/* for children */
	background: rgba(250, 128, 114, 0.5);
	border-radius: 5px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.resDetailsChlidren {
	/* for self */
	align-self: center;
	justify-self: center;
	width: 90%;
	height: 90%;
	/* background-color: blue; */
	/* background: rgba(250, 128, 114, 0.5); */
	color: rgb(0, 0, 0);
	text-align: left;
	/*color: green; */
	/* for children */
}

/* Child of resContainer */
#resButton {
	/* for self */
	width: 5em;
	background-color: purple;
	margin: 0 10px 10px 0;
	align-self: flex-end;
	border-radius: 20px;

	/* for children */
	display: flex;
	/* justify-content: center; */
	/* align-content: center; */
	align-items: center;
	/* flex-direction: column; */
	justify-content: space-evenly;
	color: salmon;
}

/* .dot {
	margin: 2px;
	width: 10px;
	height: 10px;
	background: salmon;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
} */
/* ////////////// */
/* ////////////// */
/* ////////////// */
/* masonry Section*/
/* ////////////// */
/* ////////////// */
/* ////////////// */

.images {
	text-align: center;
	margin: 2rem 2rem;
}

.masonry {
	/* background: #ffece6; */
	column-count: 4;
	column-gap: 1em;

	/* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center; */
}

#results a {
	color: black;
}

/* #aboutTitle {
	align-self: center;
} */
/* #myImag{
	position: relative;
}
.text-block {
	position: absolute;
	bottom: 20px;
	right: 20px;
	background-color: black;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
} */

/* single image is my item */
.single-img {
	/* Masonary Bricks aka child elements */
	/* background-color: rgb(0, 0, 0); */
	display: inline-block;
	margin: 0 0 1em;
	width: 100%;
	height: 100%;
	/* padding:2rem 20px 20px ;
	background: green; */
	background: rgba(250, 128, 114, 0.5);
}

/* Styling specific to these images */
img {
	width: 100%;
	height: 100%;
	/* border-radius: 25%; */
	/* background: white; */
	background: #f1f1f1;
	/* background: rgba(250, 128, 114, 0.5); */
	border-radius: 2%;
	border: solid;
}

img:hover {
	opacity: 0.5;
	transition: 0.9s;
	background-color: rgba(250, 128, 114, 0.5);
}

/* //////////////////////// */
/* ///// Modal Section /// */
/* //////////////////////// */
.button {
	background-color: #40e0d0;
	border: 2px solid white;
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 28px;
	color: white;
	margin-top: 10px;
	display: inline-block;
}
.button:hover {
	background-color: white;

	color: turquoise;
	border: 2px solid turquoise;
	transition: 0.7s;
}

.bg-modal {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 4;
}
.modal-contents {
	height: 45%;
	width: 500px;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
	z-index: 5;
}

.modal-contents h1 {
	color: black;
	font-weight: 400;
}

.modal-contents img {
	width: 10%;
	height: 15%;
	border-radius: 50%;
	border: solid;
}
input {
	margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 1px solid gray;
}

.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
}
.close:hover {
	color: #666;
}

/* //////////////////////// */
/* ///// footer Section /// */
/* //////////////////////// */
.footerContainer {
	background: #fa8072;
	display: flex;
	justify-content: center;
	align-content: center;
	padding: 10px;
	color: rgb(10, 65, 59);
}

/* //////////////////////// */
/* Masonry on Phone screens */
/* //////////////////////// */
@media (max-width: 900px) {
	.headerLogo {
		display: none;
	}
	.nav-search-form {
		display: none;
	}
	.hero {
		background-size: 200% 650px;
	}
	.hero-container {
		max-width: 90%;
	}
	.category-nav {
		display: none;
	}
	.images {
		margin: 0.5rem;
	}
	img {
		width: 100%;
		height: 100%;
	}
	.masonry {
		column-count: 1;
	}
}
/* //////////////////////// */
/* Masonry on large screens */
/* //////////////////////// */

@media only screen and (min-width: 1024px) {
	.masonry {
		column-count: 4;
	}
}
/* /////////////////////////////// */
/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
	.masonry {
		column-count: 3;
	}
}
/* //////////////////////// */
/* Masonry on small screens */
/* //////////////////////// */
@media only screen and (max-width: 767px) and (min-width: 540px) {
	.masonry {
		column-count: 2;
	}
}

li {
	list-style: none;
}

@media only screen and (max-width: 480px) {
	#resContainer {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-self: center;
		/* justify-self: center; */
		/* background: red; */
		width: 15em;
	}
}
